<!DOCTYPE html>
<html>
    <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <br>
  <h2 class="section-title mb-40 text-center">Espace de nos réalisations, xx</h2>

  <h4>Les réalisation :</h4>
    <ul> <% @project.each do |project| %>
    <li> Image <a href=' xx '> lien ou photo</a></li>
    <li> Titre <%= project.title %>  </li>
    <li> Description:  <%= project.description %>  </li>
    <li> Projet crée le :<%= project.created_at.strftime("%d/%m/%Y à %k:%M") %> </li>
    <li> Projet crée par :<%= project.created_at.strftime("%d/%m/%Y à %k:%M") %> </li>

    <%end%>
   
</body>
</html>


