<br>
<div class="container">
  <br>
    <div class="card">
      <div class="card-header">
        <h2 class="section-title mb-40 text-center">Espace de nos réalisations, pseudo</h2>
        <p align ="center"><%= link_to "Nouveau Projet ?", new_dashboard_project_path %></p>
      </div>
    </div>

    <div class="card-body">
        <div class="card-text">
          <h4>Les réalisations :</h4>
          <table class="table table-striped table-sm">
            <tr>
              <th>Titre</th>
              <th>Créée le</th>
              <th>Par</th>
              <th>Publié ?</th>
              <th>Modifié le</th>
              <th>Mettre à jour</th>
            </tr>
            <% @project.each do |project| %>
            <tr>
              <td><%= project.title %>  </td>
              <td><%= project.created_at.strftime("%d/%m/%Y") %> </td>
              <td> par? </td>
              <td> oui ou non </td>
              <td><%= project.updated_at.strftime("%d/%m/%Y") %> </td>
              <td> update/delete </td>
            </tr>
            <%end%>      
          </table>
        <br>
    </div>
  </div>
</div>
</div>
