<!DOCTYPE html>
<html>
    <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <br>
  <h2 class="section-title mb-40 text-center">Espace de nos réalisations, <%= @admin.pseudo %> xxx.</h2>
<br>
<p> projet 1</p>


</body>
</html>


