<!-- /.rev_slider_wrapper -->
<div id="association" class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <h2 class="title-color color-default mb-20 text-center">Notre association</h2>
    <h2 class="section-title text-center">We said we'd say it was the snow that killed the other two, but it wasn't. Nature is lethal but it doesn't hold a candle to man.</h2>
    <div class="space40"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="space10"></div>
        <div class="row">
          <div class="col-md-5">
            <figure><img src="<%= image_path("logos/about_us.jpg") %>" alt=""></figure>
          </div>
          <div class="col-md-7">
            <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass. Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.</p>
          </div>
          <div id="mission"></div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
    <div class="space60"></div>
    <!-- <h2 class="title-color color-default mb-20 text-center">Nos missions</h2> -->
    <div class="row">
      <div class="col-md-4">
        <h4>Mission 1</h4>
        <p>Duis mollis, est non commodo luctus, nisi porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem.</p>
        <ol>
          <li>Vivamus sagittis lacus vel augue laoreet.</li>
          <li>Cras mattis consectetur purus sit amet.</li>
          <li>Vestibulum id ligula porta felis euismod.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ol>
      </div>
      <!-- /column -->
      <div class="col-md-4">
        <h4>Mission 2</h4>
        <p>Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus.</p>
        <ul class="unordered-list list-salmon">
          <li>Donec ullamcorper nulla non metus auctor.</li>
          <li>Cras justo odio, dapibus ac facilisis.</li>
          <li>Praesent commodo cursus magna.</li>
          <li>Curabitur blandit tempus porttitor.</li>
        </ul>
      </div>
      <!-- /column -->
      <div class="col-md-4">
        <h4>Mission 3</h4>
        <p>Duis mollis, est non commodo luctus, nisi porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem.</p>
        <ol>
          <li>Vivamus sagittis lacus vel augue laoreet.</li>
          <li>Cras mattis consectetur purus sit amet.</li>
          <li>Vestibulum id ligula porta felis euismod.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ol>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="space20"></div>
    <div class="text-center"><%= link_to "Nous contacter", new_contact_path, class:"btn btn-full-rounded btn-salmon" %></div>
  </div>
  <!-- /.container -->
</div>                      
            