<!-- /.rev_slider_wrapper -->
<div id="association" class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <h2 class="title-color color-default mb-20 text-center resize-home-titles">Notre association</h2>
    <h2 class="section-title text-center">Ecrire la nature et filmer l’animal, une association pour du documentaire bestial et de nouvelles écritures du sauvage</h2>
    <div class="space40"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="space10"></div>
        <div class="row">
          <div class="col-md-5">
            <figure><img src="<%= image_path("logos/about_us.jpg") %>" alt=""></figure>
          </div>
          <div class="col-md-7">
            <p>Œil de Biche est une association loi 1901 créée par un collectif de réalisateurs animaliers et née de l'envie de proposer de nouveaux regards sur la nature, ses habitants et ses acteurs. Installée au cœur du Jura, l'association travaille sur la mise en valeur du territoire avec l'aide du parc naturel du Haut-Jura et des différents naturalistes locaux. La haute chaîne jurassienne offre une faune montagneuse riche et variée, du chamois à la chouette de Tengmalm. C'est aussi le territoire du fantôme du Jura, le lynx boréale. Ce sont des milieux où subsistent encore une faune rare qui mérite d'être sauvegardée, c'est pourquoi l'association répond aux besoins de documenter ces zones sauvages afin de les protéger. Mais l'association cherche aussi à proposer des documentaires sur des problématiques plus larges ou dépassant les frontières jurassiennes pour réfléchir aux questions que le sauvage pose à nos civilisations. Œil de Biche tend également à renouveler le genre du cinéma animalier autour de différentes propositions esthétique et narratives. Utiliser tous les dispositifs cinématographiques pour composer des créations variées et audacieuses, à l'instar des regards multiples sur le documentaire que chaque membre propose.</p>
          </div>
          <div id="mission"></div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
    <div class="space60"></div>
    <!-- <h2 class="title-color color-default mb-20 text-center">Nos missions</h2> -->
    <div class="row">
      <div class="col-md-4">
        <h4>Mission 1</h4>
        <p>Valoriser et témoigner de la richesse du parc naturel du Haut-Jura ainsi que la mise en valeur des différents acteurs locaux.</p>
        <ul>
          <li>Mettre en images la faune locale.</li>
          <li>Travaillez en coopération avec les scientifiques du parc.</li>
          <li>Documenter ces milieux pour transmettre au mieux les connaissances au public.</li>
        </ul>
      </div>
      <!-- /column -->
      <div class="col-md-4">
        <h4>Mission 2</h4>
        <p>La réalisation documentaire d’œuvres originales sur la faune sauvages dans des démarches nouvelles et créatives.</p>
        <ul>
          <li>Suivre une démarche éthique du documentaire.</li>
          <li>Respectez la faune et éviter le dérangement.</li>
          <li>Varier les dispositifs : mise en valeur du son, peinture sur verre, animation, pellicule...</li>
        </ul>
      </div>
      <!-- /column -->
      <div class="col-md-4">
        <h4>Mission 3</h4>
        <p>Créer et motiver la réflexion sur notre rapport au sauvage et les moyens de préservation des milieux naturels.</p>
        <ul>
          <li>Projections en présence des réalisateurs.</li>
          <li>Organisation de ciné-débat.</li>
          <li>Rédaction d'un blog regroupant des articles naturalistes.</li>
          <li>Organisation de sorties natures.</li>
        </ul>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="space20"></div>
    <div class="text-center"><%= link_to "Nous contacter", new_contact_path, class:"btn btn-full-rounded btn-ice" %></div>
  </div>
  <!-- /.container -->
</div>
