<!-- /.rev_slider_wrapper -->
<div id="association" class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <h2 class="title-color color-default mb-20 text-center resize-home-titles">Notre association</h2>
    <h2 class="section-title text-center">Ecrire la nature et filmer l’animal, une association pour du documentaire
      bestial et de nouvelles écritures du sauvage</h2>
    <div class="space40"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="space10"></div>
        <div class="row">
          <div class="col-md-5">
            <div class="space20"></div>
            <figure><img src="<%= image_path("logos/logo.jpg") %>" alt="deer"></figure>
          </div>
          <div class="col-md-7">
            <p>Œil de Biche est une association créée par un collectif de réalisateurs animaliers. Elle souhaite
              proposer de <strong>nouveaux regards sur la nature</strong>, ses habitants et ses acteurs.</p>
            <p>Installée au cœur du Jura, Oeil de Biche travaille sur la <strong>mise en valeur du territoire</strong>
              avec l'aide du parc naturel du Haut-Jura et des différents naturalistes locaux. La haute chaîne
              jurassienne offre une faune montagneuse riche et variée, du chamois à la chouette de Tengmalm. C'est aussi
              le territoire du fantôme du Jura, le lynx boréale.</p>
            <p>Œil de Biche tend également à <strong>renouveler le genre du cinéma animalier</strong> autour de
              différentes propositions esthétique et narratives. Utiliser tous les dispositifs cinématographiques pour
              composer des créations variées et audacieuses, à l'instar des regards multiples sur le documentaire que
              chaque membre propose.</p>
          </div>
          <div id="mission"></div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
    <div class="space60"></div>
    <div class="row">
      <div class="col-md-4">
        <p><strong>Valoriser et témoigner de la richesse du parc naturel du Haut-Jura et mettre en valeur ses acteurs locaux.</strong></p>
        <ul>
          <li>Mettre en images la faune locale.</li>
          <li>Travaillez en coopération avec les scientifiques du parc.</li>
          <li>Documenter ces milieux pour transmettre au mieux les connaissances au public.</li>
        </ul>
      </div>
      <!-- /column -->
      <div class="col-md-4">
        <p><strong>Réaliser des œuvres originales sur la faune sauvage à travers des démarches nouvelles et
          créatives.</strong></p>
        <ul>
          <li>Suivre une démarche éthique du documentaire.</li>
          <li>Respecter la faune et éviter de la déranger.</li>
          <li>Varier les dispositifs : mise en valeur du son, peinture sur verre, animation...</li>
        </ul>
      </div>
      <!-- /column -->
      <div class="col-md-4">
        <p><strong>Créer et motiver la réflexion sur notre rapport au sauvage et les moyens de préservation des milieux
          naturels.</strong></p>
        <ul>
          <li>Projections en présence des réalisateurs.</li>
          <li>Organisation de ciné-débat.</li>
          <li>Rédaction d'un blog regroupant des articles naturalistes.</li>
          <li>Organisation de sorties natures.</li>
        </ul>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="space20"></div>
    <div class="text-center"><%= link_to "Nous contacter", new_contact_path, class: "btn btn-full-rounded btn-ice" %></div>
  </div>
  <!-- /.container -->
</div>
