<!-- /.wrapper -->
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h2 class="section-title text-center">Nous contacter</h2>
        <p class="lead text-center">Examples of standard form controls supported in an example form layout.</p>
        <div class="space40"></div>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="exemple@exemple.com">
          </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="name">Prénom et nom</label>
          <input type="text" class="form-control" id="name" placeholder="John Doe">
        </div>
        <div class="space30"></div>
        <label for="status">Status</label><br/>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="status1" name="status1" class="custom-control-input">
        <label class="custom-control-label" for="status1">Professionel</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="status2" name="status1" class="custom-control-input">
        <label class="custom-control-label" for="status2">Particulier</label>
      </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="subject">Objet</label>
          <input type="text" class="form-control" id="subject" placeholder="Votre objet">
        </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="content">Message</label>
        <textarea class="form-control" rows="3" placeholder="Votre message"></textarea>
        </div>
        <div class="space30"></div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
