<!-- /.wrapper -->
<div class="wrapper dark-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
        <h2 class="title-color color-default mb-20 text-center">Nous contacter</h2>
        <p class="lead text-center text-color">Examples of standard form controls supported in an example form layout.</p>
        <div class="space40"></div>
        <form>
          <div class="form-group">
            <label for="email" class="text-color">Email</label>
            <input type="text" class="form-control" id="email" placeholder="exemple@exemple.com">
          </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="name" class="text-color">Prénom et nom</label>
          <input type="text" class="form-control" id="name" placeholder="John Doe">
        </div>
        <div class="space30"></div>
        <label for="status" class="text-color">Status</label><br/>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="status1" name="status1" class="custom-control-input">
        <label class="custom-control-label text-color" for="status1">Professionel</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="status2" name="status1" class="custom-control-input">
        <label class="custom-control-label text-color" for="status2">Particulier</label>
      </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="subject" class="text-color">Objet</label>
          <input type="text" class="form-control" id="subject" placeholder="Votre objet">
        </div>
        <div class="space30"></div>
        <div class="form-group">
          <label for="content" class="text-color">Message</label>
        <textarea class="form-control" rows="3" placeholder="Votre message"></textarea>
        </div>
        <div class="space30"></div>
        <div class="text-center"><button type="submit" class="btn btn-full-rounded btn-salmon">Envoyer</button></div>
        </form>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
