<!-- /.wrapper -->
<div id="equipment" class="wrapper dark-wrapper inverse-text">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="title-color color-default mb-20 text-center resize-home-titles">Notre matériel</h2>
        <h2 class="section-title text-center">Un matériel de pointe au service de vos projets</h2>
        <div class="space40"></div>
        <div class="row list-group-margin">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab">Appareils</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab">Objectifs</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab">Son</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab">Autres</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel">
                <ul>
                  <div class="space20"></div>
                  <li class="text-color">A7S II</li>
                  <div class="space10"></div>
                  <li class="text-color">GH5</li>
                  <div class="space10"></div>
                  <li class="text-color">GH5 S</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel">
                <ul>
                  <div class="space20"></div>
                  <li class="text-color">90 mm F2 Macro Pentax</li>
                  <div class="space10"></div>
                  <li class="text-color">17-40 mm F4 Série L Canon</li>
                  <div class="space10"></div>
                  <li class="text-color">70-200 mm F2.8 IS USM2 Série L Canon</li>
                  <div class="space10"></div>
                  <li class="text-color">100 m-400 F4-5.6 USM2 Série L Canon</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel">
                <ul>
                  <div class="space20"></div>
                  <li class="text-color">Sound Devices Mix Pre 3</li>
                  <div class="space10"></div>
                  <li class="text-color">Micro K6 Seinheisser</li>
                  <div class="space10"></div>
                  <li class="text-color">Micro cravate filaire</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel">
                <ul>
                  <div class="space20"></div>
                  <li class="text-color">Mavic Pro</li>
                  <div class="space10"></div>
                  <li class="text-color">Ronin</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
