<!-- /.wrapper -->
  <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="<%= image_path("parallax/parallax1.jpg") %>">
    <div class="container inner pt-120 pb-230">
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
