<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Nos réalisations</h2>
    <div id="cube-grid2-filter" class="cbp-filter-container text-center">
      <!-- <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
      <div data-filter=".commercial" class="cbp-filter-item">Commercial</div>
      <div data-filter=".conceptual" class="cbp-filter-item">Conceptual</div>
      <div data-filter=".interior" class="cbp-filter-item">Interior</div>
      <div data-filter=".macro" class="cbp-filter-item">Macro</div>
      <div data-filter=".video" class="cbp-filter-item">Video</div>
    </div> -->
    <div class="clearfix"></div>
    <div class="space20"></div>
    <div id="cube-grid2" class="cbp text-center">
      <div class="cbp-item conceptual interior">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p1.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Dapibus Pellentesque</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Conceptual</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item commercial">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p2.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Consectetur Tortor</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Commercial</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item commercial macro">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p3.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Justo Ultricies</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Commercial</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item conceptual interior">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p4.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Purus Quam</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Interior</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item interior video">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p5.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Telit Venenatis</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Interior</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item commercial macro">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p6.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Mollis Aenean</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Macro</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item interior">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p7.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Consectetur Pellentesque</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Interior</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item conceptual interior">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p8.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Justo Euismod</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Conceptual</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item commercial video">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p9.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Adipiscing Sit</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Commercial</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item conceptual commercial">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p10.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Mollis Elit</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Conceptual</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item interior macro">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p11.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Inceptos Justo</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Macro</span></div>
      </div>
      <!--/.cbp-item -->
      <div class="cbp-item interior commercial">
        <figure class="overlay overlay1 mb-20"><a href="portfolio-post7.html"> <img src="style/images/art/p12.jpg" alt="" /></a>
          <figcaption class="d-flex">
            <div class="align-self-center mx-auto">
              <h5 class="mb-0">Voir plus</h5>
            </div>
          </figcaption>
        </figure>
        <h4 class="mb-0">Mollis Purus</h4>
        <div class="meta"><span class="count">8 Photos</span><span class="category">Interior</span></div>
      </div>
      <!--/.cbp-item -->
    </div>
    <!--/.cbp -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
