<!-- /.wrapper -->
<div class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Notre équipe</h2>
    <div class="swiper-container-wrapper swiper-col4" data-aos="fade">
      <div class="swiper-container text-center">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure class="mb-20"> <img src="<%= image_path("team/steve.jpg") %>" alt="" /></figure>
            <h5 class="mb-2">Steeve Voccia</h5>
            <div class="meta">Expert porcin</div>
            <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui consectetur.</p>
            <ul class="social social-color social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            </ul>
          </div>
          <!--/.swiper-slide -->
          <div class="swiper-slide">
            <figure class="mb-20"><img src="<%= image_path("team/romane.jpg") %>" alt="" /></figure>
            <h5 class="mb-2">Romane Charraud</h5>
            <div class="meta">Expert buse</div>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor adipiscing elit.</p>
            <ul class="social social-color social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
            </ul>
          </div>
          <!--/.swiper-slide -->
          <div class="swiper-slide">
            <figure class="mb-20"><img src="<%= image_path("team/lucas.jpg") %>" alt="" /></figure>
            <h5 class="mb-2">Lucas Bischoff</h5>
            <div class="meta">Expert nuit</div>
            <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <ul class="social social-color social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <!--/.swiper-slide -->
          <div class="swiper-slide">
            <figure class="mb-20"><img src="<%= image_path("team/martin.jpg") %>" alt="" /></figure>
            <h5 class="mb-2">Martin Bondonneau</h5>
            <div class="meta">Expert pixel</div>
            <p>Fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur.</p>
            <ul class="social social-color social-s">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
          <!--/.swiper-slide -->
        </div>
        <!-- .swiper-wrapper -->
      </div>
      <!-- .swiper-container -->
      <div class="swiper-pagination gap-large"></div>
    </div>
    <!-- .swiper-container-wrapper -->
  </div>
  <!-- /.container -->
</div>
