<!-- Dashboard -->
<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">  
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="section-title mb-40 text-center">Bienvenue dans ton espace d'administrateur <%= @admin.pseudo %></h2><br>
      </div>
      <p>Clique sur les onglets à gauche :</p>
      <ul class="unordered-list list-blue">
        <li> Les réalisations : pour créer une nouvelle réasalition ou éditer celles déjà créées. </li>
        <li> Les articles : pour créer un nouvel article ou éditer ceux déjà créés. </li>
        <li> Les messages : pour consulter les emails reçus depuis le formulaire de contact. </li>
      </ul>
    </main>
  </div>
</div>
