<div class="container inner">
<div class="row">
  <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
    <h2 class="section-title text-center">Création d'une catégorie <%=@category.category_name%></h2>

    <p class="lead text-center">Pour créer une nouvelle catégorie, remplir le formulaire ci-dessous</p>
    <div class="space40"></div>
    <h6><b>Nom de la catégorie<b></h6>
    <%= form_with model: @category, url: dashboard_categories_path, local: true do |f| %>
      <%= f.text_field :category_name, class:"form-control", placeholder: "Titre" %>
      <div class="space30"></div>

      <%= f.submit 'Créér la catégorie', class: 'btn btn-ice home-header-font' %>
       <% end %>   

      </div>
    </div>
  </div>
