
<!-- title and description -->
</br>
<div class="wrapper light-wrapper">
  <div class="container pb-20">
    <h1 class="section-title text-center"><%=@event.title%></h1>
    <p class="text-center"><%=@event.description%></p>
  </div>
 </div>


 	<!-- video => if condition to do ! -->



	<!-- content -->
     <div class="container pb-20">
    <p class="text"><%=simple_format(@event.content)%></p>
			</div>
