
<!-- title and description -->
</br>
<div class="wrapper light-wrapper">
  <div class="container pb-20">
    <h1 class="section-title text-center"><%=@event.title%></h1>
    <p class="text-center"><%=@event.description%></p>
  </div>
 </div>


 	<!-- video => if condition to do ! -->



	<!-- content -->
     <div class="container pb-20">
    <p class="text"><%=@event.content%></p>
			</div>

			
		        <!-- .swiper-slide --> 
		      </div>
		      <!-- .swiper-wrapper --> 
		    </div>
		    <!-- .swiper-container -->
		    <div class="swiper-pagination gap-large"></div>
		    <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
		  </div>
		  <!-- .swiper-container-wrapper -->
		  <div class="space90"></div>
		</div>

		<%else%>
		<div class="space90"></div>
	

			
