<!DOCTYPE html>
<html>
  
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Bonjour <%= @admin.first_name %> !</h1>
    <p>
      Tu viens de créer un compte adminsitrateur sur le site XXà_modifierXX avec l'e-mail suivant : <%= @admin.email %>.
    </p>
    <p>
      Pour accéder à ton espace administrateur, connecte-toi via l'url suivante : XXà_modifierXX.
    </p>
    <p> Bonne journée !  </p>
  </body>

</html>
