 <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title section-title-upper text-center">My Latest Works</h2>
      <p class="lead larger text-center">Here you will be able to find my latest works</p>
      <div class="space30"></div>
      <div id="slide-portfolio">
        <div class="tabs-wrapper filtered">
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab1-1">Category 1</a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab1-2">Category 2</a> </li>
          </ul>
          <!-- /.nav-tabs -->
          <div class="space10"></div>
          <div class="tab-content">
            <div class="tab-pane fade pb-0 show active" id="tab1-1">
              <div class="row no-gutter block-wrapper arrowed">
                <div class="col-md-6 block">
                  <figure><img src="style/images/art/sg9.jpg" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 block text-center">
                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase">Winter Wonderland</h3>
                    <p class="mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
                    <div class="d-inline-block"><a href="#0" data-type="slide-portfolio-item-1" class="btn btn-s btn-full-rounded btn-icon-right slide-portfolio-item">See Gallery<i class="fa fa-angle-double-right"></i></a></div>
                  </div>
                </div>
                <!--/column --> 
              </div>
              <!--/.row -->
              <div class="row no-gutter block-wrapper arrowed">
                <div class="col-md-6 block order-md-2">
                  <figure><img src="style/images/art/sg10.jpg" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 block text-center">
                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase">Enchanting Green</h3>
                    <p class="mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
                    <div class="d-inline-block"><a href="#0" data-type="slide-portfolio-item-2" class="btn btn-s btn-full-rounded btn-icon-right slide-portfolio-item">See Gallery<i class="fa fa-angle-double-right"></i></a></div>
                  </div>
                </div>
                <!--/column --> 
              </div>
              <!--/.row -->
              <div class="row no-gutter block-wrapper arrowed">
                <div class="col-md-6 block">
                  <figure><img src="style/images/art/sg11.jpg" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 block text-center">
                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase">Road Ahead</h3>
                    <p class="mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
                    <div class="d-inline-block"><a href="#0" data-type="slide-portfolio-item-3" class="btn btn-s btn-full-rounded btn-icon-right slide-portfolio-item">See Gallery<i class="fa fa-angle-double-right"></i></a></div>
                  </div>
                </div>
                <!--/column --> 
              </div>
              <!--/.row -->
              <div class="row no-gutter block-wrapper arrowed">
                <div class="col-md-6 block order-md-2">
                  <figure><img src="style/images/art/sg12.jpg" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 block text-center">
                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase">Surreal Shots</h3>
                    <p class="mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
                    <div class="d-inline-block"><a href="#0" data-type="slide-portfolio-item-4" class="btn btn-s btn-full-rounded btn-icon-right slide-portfolio-item">See Gallery<i class="fa fa-angle-double-right"></i></a></div>
                  </div>
                </div>
                <!--/column --> 
              </div>
              <!--/.row --> 
            </div>
            <!--/.tab-pane -->
            <div class="tab-pane fade pb-0" id="tab1-2">
              <div class="row no-gutter block-wrapper arrowed">
                <div class="col-md-6 block">
                  <figure><img src="style/images/art/sg13.jpg" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 block text-center">
                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase">Beautiful Cottages</h3>
                    <p class="mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
                    <div class="d-inline-block"><a href="#0" data-type="slide-portfolio-item-5" class="btn btn-s btn-full-rounded btn-icon-right slide-portfolio-item">See Gallery<i class="fa fa-angle-double-right"></i></a></div>
                  </div>
                </div>
                <!--/column --> 
              </div>
              <!--/.row -->
              <div class="row no-gutter block-wrapper arrowed">
                <div class="col-md-6 block order-md-2">
                  <figure><img src="style/images/art/sg14.jpg" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 block text-center">
                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase">Lovely Cats</h3>
                    <p class="mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
                    <div class="d-inline-block"><a href="#0" data-type="slide-portfolio-item-6" class="btn btn-s btn-full-rounded btn-icon-right slide-portfolio-item">See Gallery<i class="fa fa-angle-double-right"></i></a></div>
                  </div>
                </div>
                <!--/column --> 
              </div>
              <!--/.row -->
              <div class="row no-gutter block-wrapper arrowed">
                <div class="col-md-6 block">
                  <figure><img src="style/images/art/sg15.jpg" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 block text-center">
                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase">Coffee Time</h3>
                    <p class="mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
                    <div class="d-inline-block"><a href="#0" data-type="slide-portfolio-item-7" class="btn btn-s btn-full-rounded btn-icon-right slide-portfolio-item">See Gallery<i class="fa fa-angle-double-right"></i></a></div>
                  </div>
                </div>
                <!--/column --> 
              </div>
              <!--/.row -->
              <div class="row no-gutter block-wrapper arrowed">
                <div class="col-md-6 block order-md-2">
                  <figure><img src="style/images/art/sg16.jpg" alt="" /></figure>
                </div>
                <!--/column -->
                <div class="col-md-6 block text-center">
                  <div class="box bg-white h-100 d-flex flex-column justify-content-center">
                    <h3 class="text-uppercase">Charistmatic Doors</h3>
                    <p class="mb-30">Vestibulum ligula porta felis euismod semper. Duis mollis commodo luctus, ac commodo porttitor nibh.</p>
                    <div class="d-inline-block"><a href="#0" data-type="slide-portfolio-item-8" class="btn btn-s btn-full-rounded btn-icon-right slide-portfolio-item">See Gallery<i class="fa fa-angle-double-right"></i></a></div>
                  </div>
                </div>
                <!--/column --> 
              </div>
              <!--/.row --> 
            </div>
            <!--/.tab-pane --> 
          </div>
          <!-- /.tab-content --> 
        </div>
        <!-- /.tabs-wrapper --> 
      </div>
      <!--/#slide-portfolio --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
</div>