/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require style
 *= require style/css/bootstrap.min
 *= require font-awesome
 *= require style/css/color/ice
 *= require style/css/plugins
 *= require style/revolution/css/layers
 *= require style/revolution/css/navigation
 *= require style/revolution/css/settings
 *= require style/revolution/fonts/font-awesome/css/font-awesome
 *= require style/revolution/fonts/font-awesome/css/font-awesome.min
 *= require style/revolution/revolution-addons/filmstrip/css/revolution.addon.filmstrip
 *= require style/revolution/revolution-addons/typewriter/css/typewriter
 *= require style/type/icons
 *= require dashboard/stylesheets/sb-admin
 */

 @import url(//db.onlinewebfonts.com/c/0e979bd4a3c1c6ac788ed57ac569667f?family=revicons);

 @font-face {font-family: "revicons"; src: url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.eot"); src: url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.woff") format("woff"), url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0e979bd4a3c1c6ac788ed57ac569667f.svg#revicons") format("svg"); }

 #contenu {
   min-height: 100VH;
 }

 * {
  font-family: 'Montserrat', sans-serif;
}

.bold-text {
  font-weight: bold !important;
  font-size: 1.1em !important;
  margin-left: 7px !important;
}

.footer-bold {
  font-weight: bold !important;
}

.border-top-line {
  border: none !important;
}

.text-color {
  color: white !important;
}

.resize-home-titles {
  font-size: 1em !important;
}

.home-header-font {
  font-family: 'Montserrat', sans-serif !important;
}

.hover-color:hover {
  background-color: #9eb9d7 !important;
  color: black !important;
}

.dashboard-btn {
  border-radius: 30px;
  margin-top: 7px !important;
}

.dashboard-text {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 0.8em !important;
  text-transform: uppercase !important;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

@media (min-width: 320px) and (max-width: 991px) {
  .dashboard-text{
    margin: 0px !important;
    padding-left: 10px !important;
  }
}

@media (min-width: 991px) and (max-width: 1240px) {
  .container{
    max-width: 100% !important;
  }
}

@media (min-width: 991px) and (max-width: 1121px) {
  .img-brand{
    width: 150% !important;
  }
  .navbar-left{
    margin-right: -119px !important;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .list-group-margin{
    margin-left: -100px !important;
    margin-right: -90px !important;
  }
}

/* Media Queries pour le block notre matériel sur la page d'accueil */
/* @media (min-width: 320px) and (max-width: 991px) {
  .list-group-margin{
    margin-left: -100px !important;
    margin-right: -90px !important;
  }
} */

.dashboard-text:hover {
  background-color: grey !important;
  color: white !important;
}

.list-group-item.active {
  background-color: #9eb9d7 !important;
  border-color: #9eb9d7 !important;
}

.more-inverse {
  color: #9eb9d7 !important;
}

.more-inverse:hover {
  color: #aaa !important;
}

.margin-picture {
  margin: 10px;
}

.tooltip-dashboard {
  position: relative;
  display: inline-block;
}

.tooltip-dashboard .tooltiptext-dashboard {
  visibility: hidden;
  width: 190px;
  background-color: #e91d1d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip-dashboard:hover .tooltiptext-dashboard {
  visibility: visible;
}
.red {
  color:red;
}

.green {
  color:green;
}
