<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <%= link_to 'Espace Administrateur', dashboard_admin_path(current_admin), class:"navbar-brand mr-1"%>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to 'Revenir au site', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Se Déconnecter', destroy_admin_session_path, method: :delete, class:"nav-link" %>
      </li>
    </ul>
</nav>
