  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Espace Administrateur</a>


    <!-- Navbar -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fa fa-caret-right"></i>
          <span>Revenir au site</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fa fa-user-circle fa-fw"></i>
          <span>Se déconnecter</span></a>
      </li>
    </ul>

  </nav>
