<!-- /.wrapper -->
<footer class="dark-wrapper">
  <div class="container inner pt-60 pb-30 text-center text-color">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-4">
            <div class="widget">
              <h3 class="widget-title footer-bold">Localisation</h3>
              <address class="mb-0">
                1 route de la Pesse<br/>
                39370 L'Embossieux
              </address>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="col-md-4">
            <div class="widget">
              <h3 class="widget-title footer-bold">Nous suivre</h3>
              <ul class="social social-mute social-s">
                <li>
                  <a href="#">
                    <i class="fa fa-flickr"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
              <div class="space40"></div>
              <%= link_to "Se connecter", new_admin_session_path, class:"btn btn-teal" %>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
          <div class="col-md-4">
            <div class="widget">
              <h3 class="widget-title footer-bold">Contact</h3>
              <a href="mailto:bamby.boutique.thp@gmail.com" class="nocolor">bamby.boutique.thp@gmail.com</a>
              <br/>
              06.06.06.06.06
            </div>
            <!-- /.widget -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="space40"></div>
    <p class="text-center">© 2019 Oeil de Biche Production. Tous droits réservés.</p>
  </div>
  <!-- /.container -->
</footer>
